<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Skill</title>
        <%- include("common/header"); -%> 
    </head>
    <body>
        <h1>Edit Skill</h1>
        <form method="post">
            Name: <input type="String" name="name" value="<%= skill.Name %>"/>
            <% if (errors["Name"]) { %>
                <p style="color: red;"><%= errors["Name"].message %></p>
            <% } %>
            Description: <input type="String" name="description" value="<%= skill.Description %> "/>
            <% if (errors["Description"]) { %>
                <p style="color: red;"><%= errors["Description"].message %></p>
            <% } %>
            <input type="submit"/>
        </form>
    </body>
</html>