<!DOCTYPE html>
<html lang="en">
    <%- include("common/header"); %>
    <head>
        <title>Employees</title>
    </head>
    <body>
        <h1>Employees</h1>
        <% if (message) { %>
            <h2><%= message %></h2>
        <% } %> 
        <table style="color: white; border: 1;">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>FM</th>
                <th>GG</th>
                <th>Last update</th>
                <th>Skills: Competency</th>
            </thead>
            <% employees.forEach(function(employee) { %>
            <tr>
                <td><%= employee._id %></td>
                <td><%= employee.Name %></td>
                <td><%= employee.FM %></td>
                <td><%= employee.GG %></td>
                <td><%= employee.Last_Update.toLocaleDateString("en-UK") %></td>
                <%
                const skills = employee.Skills;
                if (skills) { %>
                    <td><%= employee.Skills.Skill %>: <%= employee.Skills.Competency %></td>
                <% } %>

                <td><a href="/skillsToEmployee/<%= employee._id %>"><button>Add skill</button></a> <a href="/deleteSkillFromEmployee"><button>Delete skill</button></a></td>
                <td><a href="/editEmployee/<%= employee._id %>"><button>Edit employee</button></a></td>
                <td><a href="/employees/delete/<%= employee._id %>"><button>Delete employee</button></a></td>
            </tr>
            <% }); %>
        </table>
        <a href="/addEmployee"><button>Add new employee</button></a>
    </body>
</html>
