<!DOCTYPE html>
<html lang="en">
    <%- include("common/header"); %>
    <head>
        <title>Staff</title>
    </head>
    <body>
        <h1>Staff</h1>
        <table border="1">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>FM</th>
                <th>GG</th>
                <th>Last update</th>
                <th>Skills: Competency</th>
            </thead>
            <% employees.forEach(function(employee) { %>
            <tr>
                <td><%= employee._id %></td>
                <td><%= employee.Name %></td>
                <td><%= employee.FM %></td>
                <td><%= employee.GG %></td>
                <td><%= employee.Last_Update %></td>
                <td>
                    <% for (const [key, value] of Object.entries(employee.Skills)) { %>
                    <%= key %>: <%= value %> |
                    <% }; %>
                </td>
            </tr>
            <% }); %>
        </table>
    </body>
</html>