<!DOCTYPE html>
<html lang="en">
    <%- include("common/header"); %>
    <head>
        <title>Skills</title>
    </head>
    <body>
        <h1>Skills</h1>
        <table style="color: white; border: 1;">
            <thead>
                <th>Name</th>
                <th>Description</th>
            </thead>
            <% skills.forEach(function(skill) { %>
            <tr>
                <td><%= skill.Name %></td>
                <td><%= skill.Description %></td>
                <td><a href="/addCompetency/<%= employeeId %>/<%= skill._id %>"><button>Add</button></a></td>
            </tr>
            <% }); %>
        </table>
    </body>
</html>